<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>صفحه ورود</title>
    <link href="static/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">صفحه ورود برای سمت سرور</h3>
                                </div>
                                <div class="card-body">
                                    <form action="" method="POST">
                                        <div class="alert alert-warning" role="alert" style="direction: rt; text-align: center;">
                                            {% if error %}
                                            <p class=error><strong>* Error :  {{ error }} </strong>{% else %}
                                                <p class=error><strong>! لطفا فرم های زیر را پر کرده و لاگین کنید *</strong> {% endif %}
                                        </div>
                                        <div class="form-group"><label class="small mb-1" for="inputuser" style="direction: ltr; text-align: right; position: static;">نام کاربری : </label><input class="form-control py-4" id="inputUsername" type="text" placeholder="Enter username"
                                                name="username" /></div>
                                        <div class="form-group"><label class="small mb-1" for="inputPassword" style="direction: ltr; text-align: right; position: static;">پسورد : </label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password"
                                                name="Password" /></div>
                                        <div class="form-group">
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <br>
        <marquee behavior="scroll" direction="right">
            <center>
                <p>!!! Hi. this is login page || || develop by :: mohammad ghrehbagh !!!</p>
            </center>
        </marquee>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; ghame dovom enghelab</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/scripts.js"></script>
</body>

</html>